<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new artist</title>
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/sidebar.css" />
    <link rel="stylesheet" href="/forms.css" />
  </head>
  <body>
    <%- include('header') %>
    <div id="display">
      <%- include('sidebar', { artists: artists }) %>
      <div class="content">
        <div class="content-header">
          <h1>Add new artist</h1>
        </div>
        <form
          action="/new"
          method="post"
          id="new-artist-form"
          class="artist-form"
        >
          <div id="new-artist-name" class="form-row artist-name">
            <label for="new_artist">Artist name: </label>
            <input type="text" name="new_artist" id="new_artist" />
          </div>
          <div id="new-artist-img" class="form-row artist-img">
            <label for="new_artist_img">URL for artist image: </label>
            <input type="text" name="new_artist_img" id="new_artist_img" />
          </div>
          <button type="submit" class="submit">Add</button>
        </form>
      </div>
    </div>
  </body>
</html>
