<dialog id="new_category_modal">
  <form action="/" method="post">
    <label for="new_artist">New artist name: </label>
    <input type="text" name="new_artist" id="new_artist" />
    <button type="submit">Add</button>
  </form>
</dialog>
