<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New record</title>
  </head>
  <body>
    <%- include('header') %> <%- include('sidebar') %>
    <h1>Add new record to your collection of records by <%= artist %></h1>
    <form action="/artist" method="post">
      <label for="record_title">Record title: </label>
      <input type="text" name="record_title" id="record_title" />
      <label for="record_year">Release year: </label>
      <input type="text" name="record_year" id="record_year" />
      <label for="record_label">Label: </label>
      <input type="text" name="record_label" id="record_label" />
      <label for="record_genre">Genre: </label>
      <input type="text" name="record_genre" id="record_genre" />
      <button type="submit"></button>
    </form>
  </body>
</html>
