<div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (locals.records) { %> <% locals.records.forEach(record => { %>
      <li><a href="/artists/<%= record.artist %>"><%= record.artist %></a></li>
      <% }) %> <% } %>
    </ul>
  </nav>
</div>
