<div>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (locals.artists) { %> <% locals.artists.forEach(artist => { %>
      <li><a href="/artists/<%= artist.artist %>"><%= artist.artist %></a></li>
      <% }) %> <% } %>
    </ul>
  </nav>
</div>
