<div id="sidebar">
  <nav>
    <a href="/new"><button id="new_category_button">Add category</button></a>
    <li><a href="/">Home</a></li>
    <ul>
      <% if (locals.artists) { %> <% locals.artists.forEach(artist => { %>
      <a href="/artists/<%= artist.artist_id %>" class="artist"
        ><div class="img-wrapper">
          <img src="<%= artist.img %>" alt="" />
        </div>
        <li class="artist-name"><%= artist.name %></li></a
      >
      <% }) %> <% } %>
    </ul>
  </nav>
</div>
