<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update record</title>
  </head>
  <body>
    <%- include('sidebar') %>
    <h1>Update record</h1>
    <form action="/title/update" method="post">
      <label for="update_title">Record title: </label>
      <input type="text" name="update_title" id="update_title" />
      <label for="update_release_year">Release year: </label>
      <input type="text" name="update_release_year" id="update_release_year" />
      <label for="update_label">Label: </label>
      <input type="text" name="update_label" id="update_label" />
      <label for="update_genre">Genre: </label>
      <input type="text" name="update_genre" id="update_genre" />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
