* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body,
html {
  height: 100%;
}

a {
  text-decoration: none;
}

a li:hover {
  text-decoration: underline;
}

#display {
  display: flex;
  height: 90%;
}

div.content {
  flex: 1;
  overflow: scroll;
}

div.content > h1 {
  position: sticky;
  top: 0;
  padding: 1rem 2rem;

  border: 1px solid black;
}
