.content-header {
  position: sticky;
  top: 0;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-header .button-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

button.add {
  padding: 0.5rem 0.75rem;
}

#artist-records {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 1rem;

  padding: 1rem;
}

img.record-art {
  width: 200px;
  height: auto;
}

ul.record-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
