.update-content {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 4rem;
}

.update-content div.img-wrapper {
  overflow: hidden;

  box-shadow: -4px 4px 8px black;
}

.img-wrapper.square {
  width: 200px;
  height: 200px;
}

.img-wrapper.circle {
  width: 200px;
  height: 200px;

  border-radius: 50%;
}

.update-content img {
  width: 100%;
  height: 100%;
}

form.record-form,
form.artist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  border: 1px solid black;
  padding: 2rem;
  width: 50%;

  margin: 4rem 0;

  background-color: #fffcf2;
}

form#new-record-form,
form#new-artist-form {
  margin: 4rem auto;
}

div.form-row {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 70%;

  gap: 1rem;
}

label {
  display: block;
}

input {
  display: block;
  width: 50%;

  padding: 0.5rem;
  border: none;
  border-radius: 50px;

  background-color: #293344;
  color: #fffcf2;
}

form button {
  padding: 1rem;
}
