#all-records {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  row-gap: 1rem;

  padding: 1rem;
}

#all-records .record-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

img.record-art {
  width: 200px;
  height: auto;
}

ul.record-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
